* {
  box-sizing: border-box;
}

body {
  font-family: "Vollkorn", serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background-color: #fae2e6;
  margin: 0;
}

nav,
footer {
  background-color: #ee9d4b;
  color: #fae2e6;
  font-size: 14px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
}

header {
  padding: 12% 0;
}

h1 {
  font-family: "neato_serifregular", serif;
  color: #ed9ec7;
  font-size: 78px;
  margin: 5px;
}

h2 {
  padding-left: 10px;
  margin: 7px;
  font-family: "neato_serifregular", serif;
}

h3 {
  color: #bf6b95;
  font-family: "Vollkorn", serif;
  margin: 7px;
  padding-left: 8px;
  padding-top: 15px;
  font-size: 28px;
}

h4 {
  color: #bf6b95;
  margin: 5px;
  font-family: "neato_serifregular", serif;
  font-size: 30px;
}

h5 {
  font-size: 20px;
  color: #444;
  margin: 5px;
  padding-left: 12px;
}

section {
  min-height: 200px;
  text-align: left;
  font-family: "Vollkorn", serif;
  position: relative;
}

section:nth-child(even) {
  background-color: #bf6b95;
  color: #fff;
}

section:nth-child(even) h3 {
  color: #fff;
}

img {
  max-width: 80%;
  display: block;
  margin: auto;
}

p {
  margin: 0;
  padding: 15px;
}

.curve {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #fae2e6;
}

.curve path {
  fill: #bf6b95;
  width: 100%;
}

div.curve,
div.curve2 {
  font-size: 0;
}

.curve2 {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #bf6b95;
}

.curve2 path {
  fill: #fae2e6;
  width: 100%;
}

ul {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.burger-menu {
  color: #fff;
  text-align: right;
}

.button-container {
  text-align: center;
}

button.main-buttons {
  border-radius: 30px;
  background-color: #ee9d4b;
  width: 140px;
  color: #fff;
  border: none;
  text-align: center;
  margin: 20px;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  display: inline-block;
  font-family: "Vollkorn", serif;
}

.contact-icons {
  display: inline-block;
  width: 30%;
  max-height: 50px;
}

.about-me-text {
  padding: 0px 15px 35px;
}

.topNav {
  display: none;
}

.topNav.responsive {
  position: relative;
  display: block;
}

.topNav.responsive a {
  float: none;
  display: inline-block;
  font-size: 18px;
  text-align: right;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
}

@media only screen and (min-width: 600px) {
  img {
    float: right;
    max-width: 40%;
    padding: 2%;
    max-height: 400px;
  }

  img.contact-icons {
    float: none;
    max-height: 100px;
    width: 30%;
    display: inline-block;
    padding: 0;
    margin: 1%;
  }

  h1 {
    font-size: 90px;
  }

  h4 {
    font-size: 30px;
  }

  header {
    padding: 7%;
  }

  .burger-menu {
    display: none;
  }

  .topNav {
    height: 1%;
    font-size: 24px;
    display: block;
    background-color: #ee9d4b;
    float: right;
  }

  .topNav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    text-align: right;
    display: inline-block;
  }

  .topNav a:hover {
    color: #bf6b95;
  }
}
